<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019705273498-11lhvfohi2s1us3ln7bcct2cun1ufp5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019705273498-11lhvfohi2s1us3ln7bcct2cun1ufp5u</string>
	<key>API_KEY</key>
	<string>AIzaSyChydn1Ekv8yckt11kLI82ymbclCrJ1jRs</string>
	<key>GCM_SENDER_ID</key>
	<string>1019705273498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kailee.iou20</string>
	<key>PROJECT_ID</key>
	<string>iou-dev-7e585</string>
	<key>STORAGE_BUCKET</key>
	<string>iou-dev-7e585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019705273498:ios:f4cadae6ba5f0af42f0323</string>
</dict>
</plist>